<<<<<<< HEAD
@function px2rem($px, $hpx: 100) {
    @return $px / $hpx+rem;
}

@mixin textEllipsis($line-height: 20, $number: 2, $height: $line-height * $number) {
    // 当前栏目样式
    $line-height: $line-height / 100 + rem;
    $height: $height / 100 + rem;
    line-height: $line-height;
    max-height: $height;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

@font-face {
    font-family: 'iconfont';
    /* Project id 4875423 */
    src: url('//at.alicdn.com/t/c/font_4875423_2rbb6kxxr3e.woff2?t=1743250020558') format('woff2'),
        url('//at.alicdn.com/t/c/font_4875423_2rbb6kxxr3e.woff?t=1743250020558') format('woff'),
        url('//at.alicdn.com/t/c/font_4875423_2rbb6kxxr3e.ttf?t=1743250020558') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #333;
}

a,
button {
    cursor: pointer;
}

a,
u {
    text-decoration: none
}

input {
    padding: 0 px2rem(10)
}

input,
button,
select {
    outline: 0;
    border: none;
}

img {
    object-fit: cover;
}

html {
    font-size: 100px;

    @media (max-width: 1200px) and (min-width: 960px) {
        font-size: 70px !important;
    }

    @media (max-width: 960px) {
        font-size: 90px !important;
    }
}

body {
    font-size: px2rem(16);
    max-width: px2rem(2560);
    margin: 0 auto;
    font-family: "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
}

.layout,
.inner-layout {
    width: px2rem(1400);
    margin: 0 auto;

    @media (max-width: 1200px) and (min-width: 960px) {
        width: 960px;
    }

    @media (max-width: 960px) {
        width: 100%;
        padding: 0 20px;
        min-width: 320px;
    }
}

.container {
    min-height: px2rem(500);

    @media (max-width: 960px) {
        min-height: 300px;
    }
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
    font-size: 0;
    clear: both;
=======
@function px2rem($px, $hpx: 100) {
    @return $px / $hpx+rem;
}

@mixin textEllipsis($line-height: 20, $number: 2, $height: $line-height * $number) {
    // 当前栏目样式
    $line-height: $line-height / 100 + rem;
    $height: $height / 100 + rem;
    line-height: $line-height;
    max-height: $height;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

@font-face {
    font-family: 'iconfont';
    /* Project id 4875423 */
    src: url('//at.alicdn.com/t/c/font_4875423_2rbb6kxxr3e.woff2?t=1743250020558') format('woff2'),
        url('//at.alicdn.com/t/c/font_4875423_2rbb6kxxr3e.woff?t=1743250020558') format('woff'),
        url('//at.alicdn.com/t/c/font_4875423_2rbb6kxxr3e.ttf?t=1743250020558') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #333;
}

a,
button {
    cursor: pointer;
}

a,
u {
    text-decoration: none
}

input {
    padding: 0 px2rem(10)
}

input,
button,
select {
    outline: 0;
    border: none;
}

img {
    object-fit: cover;
}

html {
    font-size: 100px;

    @media (max-width: 1200px) and (min-width: 960px) {
        font-size: 70px !important;
    }

    @media (max-width: 960px) {
        font-size: 90px !important;
    }
}

body {
    font-size: px2rem(16);
    max-width: px2rem(2560);
    margin: 0 auto;
    font-family: "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
}

.layout,
.inner-layout {
    width: px2rem(1400);
    margin: 0 auto;

    @media (max-width: 1200px) and (min-width: 960px) {
        width: 960px;
    }

    @media (max-width: 960px) {
        width: 100%;
        padding: 0 20px;
        min-width: 320px;
    }
}

.container {
    min-height: px2rem(500);

    @media (max-width: 960px) {
        min-height: 300px;
    }
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
    font-size: 0;
    clear: both;
>>>>>>> 1c15f16ed4ec227176339327f962eaf1df58175f
}